<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Принудительно HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # 2. Внутренний rewrite в папку public
    # Добавляем условие, чтобы не применять правило, если запрос УЖЕ начинается с public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
